* {
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: beige;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    background: white;
    height: 20px;
    width:100%;
    padding: 15px;
    display: flex;
    padding: 20px;
    text-align: center;
    position: sticky;
}
footer{
    color: blue;
}
